@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dela+Gothic+One&display=swap');


body {
    background-color: #f0efef;
    font-family: Arial, sans-serif;
}
.navbar-custom {
    background-image: linear-gradient(9deg, #27776b, #063d58); /* Gradiente diagonal de azul escuro para azul claro */
    background-color: #012030; /* Cor de fallback no caso de o gradiente não ser suportado */
}


/* Título abaixo da logo */
.site-name {
    display: none; /* Inicialmente oculto */
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    opacity: 0; /* Invisível inicialmente */
    transition: opacity 0.3s ease-in-out; /* Transição suave de opacidade */
}

.site-name.show {
    display: block; /* Mostra o título */
    opacity: 1; /* Transição para visível */
}


h2 {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #747171;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link.active {
    color: #45C4B0;
    border-bottom: 3px solid #45C4B0;
}

.navbar-custom .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-custom .brand-name {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 28px; /* Ajusta o tamanho da fonte */
    color: #ffffff;  /* Cor do texto */
    font-weight: normal; /* Ajusta o peso, se necessário */
    margin-left: 15px; /* Adiciona margem para espaçamento, se necessário */
}

.navbar-custom .navbar-nav .nav-link.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar .nav-link i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 20px; /* Define o tamanho dos ícones */
    width: 20px; /* Mantém a largura uniforme dos ícones */
    height: 20px; /* Mantém a altura uniforme dos ícones */
    display: inline-block; /* Garante que os ícones mantenham o tamanho */
    text-align: center; /* Centraliza o ícone dentro do espaço disponível */
    vertical-align: middle; /* Centraliza verticalmente o ícone */
}

.sidebar a {
    font-size: 18px;
    color: #000;
    text-decoration: none; /* Remove o sublinhado dos links */
    display: block; /* Faz o link ocupar toda a área disponível */
}


/* Estilo para links que não contêm imagens */
.sidebar a:not(:has(img)):hover {
    background-color: #eeeeee;
    color: #13678A;
    border-radius: 10px;
}

.nav-link.active {
    color: #13678A;
    border-radius: 8px; /* Bordas arredondadas */
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh; /* Ajusta a altura da sidebar */
    overflow-y: auto; /* Adiciona rolagem interna */
    display: flex; /* Adiciona flexbox à sidebar */
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza horizontalmente os itens */
    padding-top: 20px; /* Espaço superior para a logo */
    padding: 1rem;
}


.sidebar ul {
    padding: 0; /* Remove qualquer padding padrão da lista */
    margin: 0; /* Remove margens adicionais */
    width: 100%; /* Garante que a lista ocupe toda a largura */
}


.sidebar li {
    width: 100%; /* Garante que os itens ocupem toda a largura da lista */
    margin: 7px;
}


.sair-link {
    margin-top: auto; /* Empurra o botão "Sair" para o final da sidebar */
    
}

.sair-link .nav-link {
    color: red; /* Cor de fundo vermelha */
    width: 100%; /* Garante que os itens ocupem toda a largura da lista */
    border-radius: 5px; /* Bordas arredondadas para o botão */
    transition: background-color 0.7s ease; /* Animação suave ao passar o mouse */
}

.sair-link .nav-link:hover {
    color: darkred; /* Muda para um vermelho mais escuro ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado */
}

.main-content {
    margin-left: 17%; /* Ajuste o valor conforme necessário para que o conteúdo principal não sobreponha a sidebar */
}

.sidebar .logo {
    text-align: center; /* Centraliza o texto e a imagem da logo */
    margin-bottom: 5px; /* Espaço abaixo da logo */
}

.sidebar .logo img {
    max-width: 60%; /* Garante que a imagem da logo não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.stories {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 0;
}

.stories img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid #ddd;
}

.post img:not(#profile) {
    width: 100%; /* Reduzir a largura da imagem */
    border-radius: 8px; /* Borda arredondada na imagem */
    max-height: 550px; /* Limitar a altura máxima da imagem */
}

.post {
    background-color: #ffffff;
    color: #000000;
    margin: 30px; /* Reduzir a margem entre os posts */
    padding: 1px; /* Ajustar o padding do cartão */
    border-radius: 8px; /* Opcional: adicionar bordas arredondadas */
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
}

.profile-info img {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.suggestions .suggestion img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.suggestions {
    color: #1b1b1b;
}
.sug{
    border-radius: 12px;
}

/* Estilo da área dos grupos */
.suggestion button {
    background-color: white;
    border: none;
    text-align: left;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.suggestion button img {
    border-radius: 50%;
}

.suggestion button:hover {
    background-color: #f0f0f0;
}

.user-profile {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;
}

.user-profile img {
    object-fit: cover;
}

.user-profile h6 {
    font-size: 1rem;
    margin: 0;
}

.user-profile small {
    font-size: 0.85rem;
    color: #c2bfbf;
}

