@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dela+Gothic+One&display=swap');


.navbar-custom {
    background-image: linear-gradient(9deg, #27776b, #063d58);
}

h2 {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #747171;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #d8d8d8;
}

.navbar-custom .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-custom .brand-name {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 28px; /* Ajusta o tamanho da fonte */
    color: #ffffff;  /* Cor do texto */
    font-weight: normal; /* Ajusta o peso, se necessário */
    margin-left: 15px; /* Adiciona margem para espaçamento, se necessário */
}

.navbar-custom .navbar-nav .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

body {
    background: url('../img/back.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.profile-header {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
margin-bottom: 20px;
}

.profile-header img {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}

.profile-info h3 {
font-size: 24px;
font-weight: bold;
}

.profile-info p {
font-size: 16px;
color: #6c757d;
}

.profile-details {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details h4 {
font-size: 20px;
font-weight: bold;
}

.profile-details p {
font-size: 16px;
margin-bottom: 10px;
color: #333;
}

/* Estilo para a área de navegação dos blocos */
.nav-blocks {
    border-bottom: 1px solid #ddd; /* Linha separadora na parte inferior */
    padding-bottom: 10px;
}

.nav-block {
    margin: 0 10px; /* Margem lateral entre os blocos */
}

.nav-link-custom {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 60px;
    border-radius: 5px;
    text-align: center;
}

.nav-link-custom:hover {
    color: #67696b;
    background-color: #e9ecef;
    text-decoration: none;
}



